<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Files</key>
	<dict>
		<key>ACPI\SSDT-AWAC.aml</key>
		<data>
		G2mATM67AgOz/JZ2Zw9QNbLJeVbdmNGgl00fP07wCB0=
		</data>
		<key>ACPI\SSDT-EC.aml</key>
		<data>
		SFjwSH5RWn1/jUz36MA7qqXNca98a0CZroILwmzqW6U=
		</data>
		<key>ACPI\SSDT-PLUG.aml</key>
		<data>
		x+hv41eE3EgHjE1NcnBJ+DVUIiMIb/UY/w2flUXxdhw=
		</data>
		<key>ACPI\SSDT-PMC.aml</key>
		<data>
		ShVwBnGy229tEg7HqcPdLtDvi0TW3RqEfFlGvee7mOI=
		</data>
		<key>ACPI\SSDT-USBX.aml</key>
		<data>
		K1uYkKZRJh6KNRi68n3xO6sNYKyIMGU3R4kxR6iLoW8=
		</data>
		<key>Drivers\HfsPlus.efi</key>
		<data>
		NaZcNQZM19ulTr5rvWtWi1GVJ1JAgm9/n9flWNUIF6E=
		</data>
		<key>Drivers\OpenRuntime.efi</key>
		<data>
		hCickYcnPp/iC/SOHr7pWph0DJ4zIOHxmNpGcYkZJFc=
		</data>
		<key>Kexts\AppleALC.kext\Contents\Info.plist</key>
		<data>
		BG6ti/tfZPNPuGIM1KFA10c4WRFaGFX+JY1r1MvW8xA=
		</data>
		<key>Kexts\AppleALC.kext\Contents\MacOS\AppleALC</key>
		<data>
		ejRH0fUrWen5oNJTbKj6vFC5/preiQsq3Irwu0GwShc=
		</data>
		<key>Kexts\CpuTscSync.kext\Contents\Info.plist</key>
		<data>
		vxUROc/8qWFHxU0Y/vU/0uZm67kMnI1/uK3pChXKwTM=
		</data>
		<key>Kexts\CpuTscSync.kext\Contents\MacOS\CpuTscSync</key>
		<data>
		6cOSUTJeod1/omf/K269MsHMmoK4UJQwic/rzOJT//0=
		</data>
		<key>Kexts\IntelMausi.kext\Contents\Info.plist</key>
		<data>
		m7cHvrSY7cRCKa1ELLkjlA0NCcdwp9A8/pAtlkr/nZA=
		</data>
		<key>Kexts\IntelMausi.kext\Contents\MacOS\IntelMausi</key>
		<data>
		yCkIIlTjQm3PmTc148WiTxJgShgGYS+oXe/AukEqwUw=
		</data>
		<key>Kexts\Lilu.kext\Contents\Info.plist</key>
		<data>
		WYkHYg4SzGwaD1EDYoHJ0gQnWOQ4yf1HsdS/V0IuC9Y=
		</data>
		<key>Kexts\Lilu.kext\Contents\MacOS\Lilu</key>
		<data>
		K2BsHn/Sn5/TZ/nQoHnvODd3A4ifQnzSEYb1pVSqj2g=
		</data>
		<key>Kexts\NVMeFix.kext\Contents\Info.plist</key>
		<data>
		wg353QAhjtxOeDhaVJRAukgHKPfC0k0pJRAf+oArWBk=
		</data>
		<key>Kexts\NVMeFix.kext\Contents\MacOS\NVMeFix</key>
		<data>
		+dg+3JZ/vhMOhh3ZsEJFhUtpkIS57TL3ekWDyJX+XeU=
		</data>
		<key>Kexts\RadeonBoost.kext\Contents\Info.plist</key>
		<data>
		d6W/zVPLEbYPId0kMygjXTF8f5D7j3rpj/11Rom9SvY=
		</data>
		<key>Kexts\RestrictEvents.kext\Contents\Info.plist</key>
		<data>
		o1vvJ8p2AXEz69ZFRYWARdFb+2cO1aXSPSyabJjM/58=
		</data>
		<key>Kexts\RestrictEvents.kext\Contents\MacOS\RestrictEvents</key>
		<data>
		NrsFj2Vpy6hD5LpTjMaAkPcrh2Ulx/hCln1hO5sgbHE=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\Info.plist</key>
		<data>
		clIXuqd7nWomQZOCDD4dxw36iqUh9jCFscd7os2m5rE=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\MacOS\SMCProcessor</key>
		<data>
		F0LhLXDd1nrYkbqflYGVqWkJQZ8ZJPwAOKOSgWLat/U=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\Info.plist</key>
		<data>
		4GSmEH2ne9W2/Oz++5T4eMfhKHRlXhIzjxHSj81PhFk=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\MacOS\SMCSuperIO</key>
		<data>
		e54QrJjDBjY2pQddr3mLVyA1txFQgpoEL2/ivcGEYnE=
		</data>
		<key>Kexts\USBPorts.kext\Contents\Info.plist</key>
		<data>
		Oe+VprY5orYQu35saiFu/GfHoRhqgHFhqwTYk3PYzBU=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Info.plist</key>
		<data>
		IfPfgPmNSxUy1k/hqLUHVv/ixoWQOc9mw4yM8qZcLRY=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\MacOS\VirtualSMC</key>
		<data>
		wzlxCj9PXjRxhRhGJ6zXJsWRZFrdlXXKyKnkL+jgf7w=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\Info.plist</key>
		<data>
		C53s1rVZTxyeM3uG4th/bJay3Z5V9hbb1FgqBsFyuF0=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\MacOS\WhateverGreen</key>
		<data>
		09VoNAglSVkXQ+GF7dbUSWuCZd/qYYl5oqLu5vgPVuA=
		</data>
		<key>config.plist</key>
		<data>
		ky5dbw7rF4fTSIXhB2jUXkwit7HlTs0pEmsy8Lcg62s=
		</data>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
